export LOGTYPE=              "ERROR" # INFO, WARNING, ERROR(default)
export DIALECT=              "postgres"          
export HOST=                 "" #your database host url
export DBPORT=               "" #your database port
export NAME=                 ""   #name of the database
export USER=                 ""  #your database username
export PASSWORD=             ""  #your database password
export MIGRATION=            "true"

